.cuadroOption{
    width: 25%;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffd29d;
    font-size: 20px;
}

.cuadroResult{
    width: 30%;
}

.inp{
    width:90px;
}

select{
    width: 90px;
}

.fondo{
    padding-top: 15px;
}
.texto{

}
.image{
    float:right;
}