ul{
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a{
    background-color: white;
    border-bottom: 2px solid black;
    color:black;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:black;
    color:#868486;
}

.nav li ul {
    display: none;
    position: relative;
    min-width: 140px;
}
