.thumbnail{
    padding:15px;
    float:left;
    border: none;
}

p{
    text-align:left;
    background-color: red;
}


.imag{
	width: 300px;
	height: 300px;
	border-radius: 100%;
	overflow:hidden;
   
}