/* NAV */

.navbar-default{
    background: none;
    border: none;

}
ul{
    list-style:none;
    text-align: center;
    font-weight: bold;

}

.nav li a{
    color:black;
    text-decoration:none;
    min-width: 180px;
    font-size: 16px;

}

.nav:hover li a:hover {
    color:#009997;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 100px;
}

/* SLIDE */

.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px;
}
.carousel .item img{
    margin: 0 auto;
}
.bs-example{
    margin: 20px;
}

/* BANNER */

.img-fluid{
    max-width: 100%;
    height: auto;
}

/* BREADCRUMB */

.breadcrumb{
    background: none;
}