<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
    <script src="../jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="container">
    <header>
        <div class="col-md-12">
            <nav class="navbar navbar-header" role="navigation">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alimentación</a>
                            <ul class="dropdown-menu">
                                <li><a href="alimentacion.html">Carne</a></li>
                                <li><a href="alimentacion.html">Pescado</a></li>
                                <li><a href="alimentacion.html">Verdura</a></li>
                                <li><a href="alimentacion.html">Suplemento</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recetario</a>
                            <ul class="dropdown-menu">
                                <li><a href="recetario.html">Recetas para perro</a></li>
                                <li><a href="recetario.html">Recetas para gato</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consejos</a>
                            <ul class="dropdown-menu">
                                <li><a href="consejos.html">¿Qué es BARF?</a></li>
                                <li><a href="consejos.html">Como empezar</a></li>
                                <li><a href="consejos.html">Beneficios a largo plazo</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="calculadora.html">Calculadora</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quienes somos</a>
                            <ul class="dropdown-menu">
                                <li><a href="quienesSomos.html">Contacto</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <body>
    <form action="/Calculadora_proyecto/calculadora.php" method="POST">
        <div>
            <input type="radio" id="dog" name="pet" value="dog"><label>Perro</label>
            <input type="radio" id="cat" name="pet" value="cat"><label>Gato</label>
        </div>
        <br>
        <div>
            <label>Edad:</label>
            <select name="age">
                <option name="age" value="2">2 meses</option><!--10-->
                <option name="age" value="3">3 meses</option><!--9-->
                <option name="age" value="4">4 meses</option><!--8-->
                <option name="age" value="5">5 meses</option><!--7-->
                <option name="age" value="6">6 meses</option><!--6-->
                <option name="age" value="7">7 meses</option><!--5-->
                <option name="age" value="8">8 meses</option><!--4-->
                <option name="age" value="9">9 meses</option><!--4-->
                <option name="age" value="10">10 meses</option><!--3,5-->
                <option name="age" value="11">11 meses</option><!--3,5-->
                <option name="age" value="12">12 meses</option><!--3-->
                <option name="age" value="13">mayor 1 año</option><!--2/3-->
            </select>
        </div>
        <br>
        <div>
            <label>Peso:</label>
            <input type="text" id="weigth" name="weigth" value=""/>
        </div>
        <br>
        <div>
            <label>Actividad:</label><br>
            <input type="radio" id="low" name="activity" value="low"><label>Baja</label>
            <input type="radio" id="medium" name="activity" value="medium"><label id="medium">Media</label>
            <input type="radio" id="high" name="activity" value="high"><label>Alta</label>
        </div>
        <input type="submit" value="Calcular"/>
    </form>

    </body>
</div>
</body>
</html>