<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
    <script src="../jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="container">
    <header>
        <div class="row">
            <ul class="nav nav-tabs">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="alimentacion.html">Alimentación</a>
                    <ul>
                        <li><a href="">Carne</a></li>
                        <li><a href="">Pescado</a></li>
                        <li><a href="">Verdura</a></li>
                        <li><a href="">Suplemento</a></li>
                    </ul>
                </li>
                <li><a href="recetario.html">Recetario</a>
                    <ul>
                        <li><a href="">Carne</a></li>
                        <li><a href="">Pescado</a></li>
                        <li><a href="">Verdura</a></li>
                        <li><a href="">Suplemento</a></li>
                    </ul>
                </li>
                <li><a href="consejos.html">Consejos</a>
                    <ul>
                        <li><a href="">¿Qué es BARF?</a></li>
                        <li><a href="">Como empezar</a></li>
                        <li><a href="">Beneficios a largo plazo</a></li>
                    </ul>
                </li>
                <li class="active"><a href="calculadora.html">Calculadora</a></li>
                <li><a href="quienesSomos.html">Quienes somos</a>
                    <ul>
                        <li><a href="">Contacto</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
</div>
</body>
</html>