<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="../jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
<div class="container">
    <header>
        <div class="col-md-12 col-lg-offset-4">
            <nav class="navbar navbar-header" role="navigation">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Alimentación</a>
                            <ul class="dropdown-menu">
                                <li><a href="alimentacion.html">Carne</a></li>
                                <li><a href="alimentacion.html">Pescado</a></li>
                                <li><a href="alimentacion.html">Verdura</a></li>
                                <li><a href="alimentacion.html">Suplemento</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recetario</a>
                            <ul class="dropdown-menu">
                                <li><a href="recetario.html">Para perro</a></li>
                                <li><a href="recetario.html">Para gato</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consejos</a>
                            <ul class="dropdown-menu">
                                <li><a href="consejos.html">¿Qué es BARF?</a></li>
                                <li><a href="consejos.html">Como empezar</a></li>
                                <li><a href="consejos.html">Beneficios</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="calculadora.html">Calculadora</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quienes somos</a>
                            <ul class="dropdown-menu">
                                <li><a href="quienesSomos.html">Contacto</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="row">
            <div class="col-md-12" style="background-color: red"></div>
        </div>
    </main>
    <footer>
        <div class="row">
            <div class="col-md-12" style="background-color: blue"></div>
        </div>
    </footer>
</div>
</body>
</html>