/* NAV */
.menu{
    border-bottom: 2px solid #009997;
    border-top: 2px solid #009997;
}
.navbar-default{
    background: none;
    border: none;

}
ul{
    list-style:none;
    text-align: center;
    font-weight: bold;
    
}

.nav li a{
    color:black;
    text-decoration:none;
    min-width: 145px;
    font-size: 16px;
    
}

.nav:hover li a:hover {
    color:#009997;
    
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 100px;
    border-radius: 8px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

@media screen and (max-width: 992px) {
  body {
    background-color: blue; /*ARREGLAR HOVER PARA PANTALLAS PEQUEÑAS*/
  }
}

/* SLIDE */

.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px;
}
.carousel .item img{
    margin: 0 auto;
}
.bs-example{
    margin: 20px;
}

/* BANNER */

.img-fluid{
    max-width: 100%;
    height: auto;
}

/* BREADCRUMB */

.breadcrumb{
    background: none;
}





/* FOOTER */
.redes{
    color:white;
    padding-top: 20px;
    font-size: 20px;
}
i{
    padding: 5px;
}
.pie{
    background-color: #615a53;
    height: 70px;
}
.licencia{
    color:white;
    padding-top: 20px;
    font-size: 20px;
}