.cuadroOption{
    margin: 10px;
    width: 20%;
    padding: 10px;
    text-align: justify;
    font-size: 16px;
    
}

.cuadroResult{
    padding-top: 10px;
    width: 32%;
}

.inp{
    width:150px;
}

select{
    width: 150px;
}

.fondo{
    padding-top: 15px;
}
.texto{
    width: 500px;
    margin: 10px;
    border-right: 0.5px solid black;
    text-align: justify;
}
.image{
    float:right;
}
.btnn{
    width: 150px;
     font-size: 16px;
     font-weight: bold;
}


/* Style inputs-radio PET */

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio] + label>img {
    margin:8px;
    transition: 500ms all;
}
input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #009997;
}

input[type=radio]:checked + label>img {
  transform: 
    rotateZ(-10deg) 
    rotateX(10deg);
}

/* Style inputs-radio ACTIVITY*/

input[type=radio]:checked+label{
  color: #009997;
  
}
input[type=radio] + label {
margin:6px;
}
