.carrito {
    border: none;
    font-size: 30px;
    color: #848484;
}

.carrito:hover {
    background-color: #ebebeb;
}

.boton-subir {
    display: none;
    border: thin solid #fff;
    border-radius: 3px;
    position: fixed;
    right: 15px;
    bottom: 2px;
    z-index: 999999999;
}

.boton-subir i {
    color: #009997;
    font-size: 50px;
    padding: 10px 10px 10px 7px;
}
