

  .thumbnail{
    height: 420px;
}

.precio{
    margin-left:150px ;
    font-size: 30px;
    color: cadetblue;
}

.titulo{
    height: 70px;
}

.descripcion{
    height: 60px;
}

.btnn{
    background-color: blanchedalmond;
}

#carrito{
    list-style: none;
}

.producto{
    font-weight: bold;
}

.unidades{
    font-size:25px;
    position: absolute;
    top: 330px;
}

