.btn {
    margin-bottom: 10px;
}

.log {
    width: 100%;
    background-color: #ffc236;
}

.login {
    padding: 10px;
    background-color: #e3e2df;
    margin-bottom: 30px;
    box-shadow: 3px 3px 10px grey;
}