#carrito {
    list-style: none;
    position: relative;
}

.producto {
    width: 100%;
}

.headCarrito {
    width: 100%;
    list-style: none;
    text-align: start;
    font-weight: inherit;
    height: 30px;
    line-height: 30px;
}

.imagen {
    visibility: hidden;

    width: 200px;

    float: left;
}

.nombre {
    width: 400px;

    float: left;
    text-align: center;
}

.precio {

    width: 150px;

    float: left;
    text-align: center;
}

.cant {

    width: 100px;

    float: left;
    text-align: center;
}

.stock {
    width: 100px;

    float: left;
    text-align: center;
}

.aniadir {
    visibility: hidden;
    width: 100px;

    float: left;
}

.imagenCart {
    background-color: white;
    height: 100px;
    width: 200px;
    float: left;
}

.nombreCart {
    line-height: 100px;
    width: 400px;
    float: left;
    text-align: center;
}

.precioCart {
    line-height: 100px;
    width: 150px;
    float: left;
    text-align: center;
}

.cantCart {
    line-height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    position: relative;
}

.stockCart {
    line-height: 100px;
    width: 100px;
    float: left;
    text-align: center;
}

.aniadirCart {
    padding-top: 30px;
    width: 100px;
    float: left;
}

.bodyCarrito {
}

.bodyCarrito:nth-child(odd) {
}

.bodyCarrito:nth-child(even) {
    background-color: #deffbc;
}

.bodyCarrito {

    height: 100px;
}

.total {
    font-size: 20px;
    margin-right: 20px;
}

.botonn {
    color: black;
}
.carritoContainer{
    max-height: 200px;
    overflow-y: scroll;
}
.noStock{
    color: red;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    position: absolute;
    bottom: 40px;
    right: -31px;
    border: 1px solid red;
    height: 20px;
    line-height: 10px;
    padding: 5px;
}
.fondo{
    border-bottom: 1px solid #a8c5c5;
}