.thumbnail{
    height: 410px;
}

.precio{
    margin-left:150px ;
    font-size: 30px;
    color: cadetblue;
}

.titulo{
    height: 70px;

}

.descripcion{
    height: 55px;
}

.btnn{
    background-color: blanchedalmond;
}

#carrito{
    list-style: none;
}

.producto{
    font-weight: bold;
}
