.anioContainer,
.mesContainer{
    width: 100%;
    height: 20px;
    position: relative;
}
.anioContainer *,
.mesContainer *{
    float: left;
}
.mesContainer{
    margin-top: 10px;
    margin-bottom: 10px;
}
label{
    width: 75%;
    text-align: center;
    font-weight: bold;
}
#calendario td, #calendario th{
    width: 32px;
}
#calendario td{
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #717171;
  background: white;
  cursor: pointer;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #717171;
    background: white;
    cursor: pointer;
}